* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: Verdana, Arial, sans-serif;    
    background-color: #f7f7f7;
}
#header{ 
    background-color: #f4f4f4;
}
#header h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 30px 30px 10px;
    clear: both;
}



/* Горизонтальная панель навигации */
#nav {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    align-items: center;
}
#nav li {
    float: left;
    list-style: none;
    align-items: center;
}
#nav a {
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid #ccc;
}
#nav li:last-child a {
    border-right: none; 
}
#nav a:hover {
    font-weight: bold;
}
#nav_poisk{
    border-right: 1px solid #ccc;
}
#circle {
    background-image: url(avatar.jpg);
    background-size: contain;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}
#link_and_lk{
    display: inline-flex;
    float: right;
    align-items: center;
    padding-left: 100px;
}


.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }



/* Рекомендации */
.recommendations{
    background-color: #fafafa;
    width: 100%; 
    padding: 100px 0 100px 0;
}
#recommendations_block{
    background-image: url(bookshelf.jpeg);
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: black;
    letter-spacing: 3px;
    cursor: pointer;
}


/* Модальное окно */
#zatemnenie {
    overflow: hidden;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  #okno {
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 32%;
    height: 100hv;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
  }
  .img{
    width: 100%;
    height: 100%;            
    position: absolute;
  }
  .decorations{
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #like{
    display: inline-block;
    color: black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    border-radius: 15px;
    cursor:pointer;
  }
  #text{
    padding: 0 12px;
    margin: 10px;
  }
  #link{
    display: inline-block;
    color: black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    border-radius: 15px;
    cursor:pointer;
  }
  #zatemnenie:target {display: block;}
  .close {
    display: inline-block;
    color: black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    border-radius: 15px;
  
  }
  .close:hover {background: #e6e6ff;}




/* Центральная часть */
.wrapper{
    background-color: #f7f7f7;
}
.aside h2 {
    font-size: 0.95em;
    margin-top: 15px;
}
.aside h3 {
    font-size: 0.85em;
    margin-top: 10px;
}
.aside p, .aside li {
    font-size: .75em;
    margin-top: 10px;   
}
.aside li{ 
    list-style-type: none;
}
#sidebar1 {
    float: left;
    width: 20%; 
    padding: 0 100px 0 20px;
}
#sidebar2 {
    float: right;
    width: 20%; 
    padding: 0 100px 0 10px;
}



.filter{
    width: 100%;
    height: 50px;
    display: inline-flex;
    padding: 0px 0 50px 20px;
}
.block_filter{
    background-color: #85ffcc;
    background-size: contain;
    text-align: center;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-right: 30px;
}



/* Список книг */
.books{
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
.book {
    background-color: #8b8b8b;
    width: 280px;
    height: 350px;
    border-radius: 10px;
}
#book1{
    background-image: url("book1.png");
}
#book2{
    background-image: url("book2.png");
}
#book3{
    background-image: url("book3.png");
}
#book4{
    background-image: url("book4.png");
}


/* Текст блоков с книгами */
#article{
    background-color: #fafafa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    width: 60%;
}
#article:after{
    clear:both;
    display:table;
    content:'';
}
#article h2{
    font-size: 1.3em;
    margin-bottom:15px;
}
#article p{
    line-height: 150%;
    margin-bottom: 15px;
}
#footer{ 
    border-top: 1px solid #ccc;
    font-size: .8em;    
    text-align: center;
    padding: 10px 10px 30px 10px;
}




#nav ul, #header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin: 0 auto; 
}
.wrapper, #nav, #header, #footer{
    min-width: 768px;
}